# 服务端口
server:
  port: 8081
# 起个名字作为服务名称（该服务注册到eureka注册中心的名称，比如商品服务）
spring:
  application:
    name: app-item

# 服务注册到eureka注册中心的地址
eureka:
  # 客户端调用地址
  client:
    serviceUrl:
      defaultZone: http://localhost:8100/eureka/
    # 因为该应用为服务提供者，是eureka的一个客户端，需要注册到注册中心
    register-with-eureka: true
    # 是否需要从eureka上检索服务
    fetch-registry: true